@import "tailwindcss";

:root {
  --background: #F1EFEC;
  --foreground: #030303;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);


  --color-dark-500: #030303;
  --color-blue-accent-500:#123458;
  --color-semi-light-500:#D4C9BE;
  --color-light-500:#F1EFEC;

}


@layer base {

  p,  td {
    @apply font-light text-sm md:text-base
  }

  h1{
    @apply font-bold text-xl md:text-2xl
  }

  h2{
    @apply font-semibold text-2xl
  }

  input {
    @apply text-base
  }
}





body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
